.body {
    font-family: Ubuntu;
    width: 100%;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}

.header__logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__logo:hover {
    color: #3CB878;
    transition: 0.4s;
}

.header__list-item-registration {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list-item {
    margin-right: 20px;
}

.header__list-svg {
    fill: #ffffff;
}

.header__list-svg:hover {
    fill: #3cb878;
    transition: 0.4s;
}

.header-registration {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.header-registration:hover {
    transition: 0.4s;
}

.header-registration > a:hover {
    color: #3CB878;
    transition: 0.4s;
}

.main {
    background: #ffffff;
    padding: 31px 60px;
    margin: 0 auto;
    max-width: 444px;
    box-sizing: border-box;
    position: relative;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-text::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0px;
}

.main-header-text > p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
}

.main-header-text > a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    color: #3CB878;
}

.main-header-text > a:hover {
    color: #01813F;
    text-decoration-line: underline;
    transition: 0.4s;
}

.main-header-button {
    display: flex;
    justify-content: space-between;
}

.google, .facebook {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background: #305DB8;
    padding: 12px 22px 12px 17px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    width: 160px;
    height: 48px;
}

.facebook:hover {
    background: #022263;
    transition: 0.4s;
}

.google-red {
    background: #DF4A32;
    padding: 15px 27px 15px 12px;
}

.google-red:hover {
    background: #AB1F09;
    transition: 0.4s;
}

.rectangle {
    margin-left: 13px;
    margin-right: 18px;
}

.google i::after {
    margin-top: -6px;
    margin-left: 7px;
}

.facebook i::after {
    margin-top: -6px;
    margin-left: 13px;
}

.facebook i::after, .google i::after {
    content: '';
    width: 1px;
    height: 28px;
    background: #2B0D09;
    position: absolute;
}

.main-or:before {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 8px;
    left: -152px;
}

.main-or:after {
    position: absolute;
    content: "";
    width: 154px;
    height: 1px;
    background-color: #F2F2F2;
    top: 8px;
    left: 17px;
}

.main-or {
    margin-top: 31px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    left: 154px;
    position: relative;
}

.form-input {
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 15px 0px 15px 19px;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.form-input::placeholder {
    color: #BEBEBE;
}

.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-check {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

input[type="checkbox"] {
    display: none;
}

.form-check-label span {
    height: 14px;
    width: 14px;
    border: 1px solid #BEBEBE;
    display: inline-block;
    position: relative;
    left: 0px;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
}

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: 3px;
    font-size: 23px;
    color: #3CB878CC;
}

.check-link {
    color: #3CB878CC;
}

.check-link:hover {
    color: #01813F;
    text-decoration-line: underline;
    transition: 0.4s;
}

.form-button {
    width: 100%;
    background: #3CB878CC;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 20px;
    border: none;
}

.form-button:hover {
    background: #01813F;
    cursor: pointer;
}