@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Montserrat:wght@400;700&display=swap');


.container {
    width: 1280px;
    background: #FFFFFF;
    font-family: Montserrat;
}

.menu-header {
    text-align: center;
    top: 78px;
}

li {
    list-style: none;
    display: inline;
    margin: 0px 0px 0px 33px;
}

a {
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.700000047683716px;
}

.baner {
    background: url("../img/image 1.png");
    height: 789px;
    width: 1280px;
}

h2 {
    color: #373737;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.299999952316284px;
    text-transform: uppercase;
    height: 45px;
    margin-top: 46px;
}

.content {
    text-align: center;
    margin-left: 67.5px;
    margin-right: 67.5px;
    height: 650px;
}

.content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
}

.button {
    height: 51px;
    width: 191px;
    border-radius: 4px;
    background: #FF0000;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.7999999523162842px;
    color: #FFFFFF;
    margin-top: 47px;
}

.footer {
    height: 39px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    margin: 0px 0px 0px 713px;
}
