@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: Open Sans;
    margin: 0 auto;
}

img {
    width: 100%
}

.header-section {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    align-items: center;
    height: 70px;
}

.header-logo {
    padding: 22px 27px;
}

.header-logo-img {
    width: 27px;
    height: 27px;
}

.header-logo-text {
    color: #FFFFFF;
    padding-left: 27px;
    font-size: 22px;
}

.header-menu {
    width: 720px;
    display: flex;
    justify-content: space-between;
}

.header-menu-item {
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}

.header-search {
    padding: 26px;
}

.header-search:hover {
    background: black;
}

.section-letestNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/header-background.png");
    height: 369px;
}

.main-headings {
    font-size: 27px;
    font-style: normal;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.section-letestNews-buttons {
    display: flex;
    justify-content: space-between;
    width: 360px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: -67px;
}

.main-letestNews-buton1 {
    background: #89CA62;
    height: 55px;
    width: 170px;
    color: #FFFFFF;
}

.main-letestNews-buton2 {
    background: #14B9D5;
    height: 55px;
    width: 170px;
    color: #FFFFFF;
}

.main-popular-posts-title {
    color: #18B4CF;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    margin: 49px auto;
}

.main-popular-posts-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    height: 950px;
    padding-right: 365px;
    padding-left: 365px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #353A3D;
}

.clients {
    background-image: url("../img/Layer 4 1.png");
    height: 588px;
    margin-top: -122px;
}

.clients-title {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 106px;
}

.line {
    height: 3px;
    width: 60px;
    background-color: #18B4CF;
    margin-top: 87px;
}

.clients-list {
    display: grid;
    grid-auto-flow: column;
    padding: 109px 509px 203px 510px;
    align-items: center;
    justify-content: space-between;
}

.rated-title {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    color: #18B4CF;
    margin: 52px auto;
}

.rated-list {
    display: grid;
    grid-auto-flow: column;
}

.content-title {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    margin: 48px auto;
}

.content-list {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 1650px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 30px;
    grid-template-areas:
"img1 img1 img1 img2"
"img3 img3 img4 img4 "
"img5 img5 img6 img6"
"img7 img8 img8 img8";
}

.content-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
}

.content-text > h4 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.content-items:nth-child(1) {
    grid-area: img1;
    display: inline-flex;
    width: 833px;
    height: 259px;
}

.content-items:nth-child(2) {
    grid-area: img2;
    width: 277px;
    padding-right: 18px;
}

.content-items:nth-child(3) {
    grid-area: img3;
    width: 554px;
}

.content-items:nth-child(4) {
    grid-area: img4;
    width: 554px;
}

.content-items:nth-child(5) {
    grid-area: img5;
    width: 554px;
    height: 259px;
}

.content-items:nth-child(6) {
    grid-area: img6;
    width: 554px;
}

.content-items:nth-child(7) {
    grid-area: img7;
    width: 277px;
}

.content-items:nth-child(8) {
    grid-area: img8;
    width: 857px;
    height: 259px;
    display: inline-flex;
}

.footer-logo {
    display: inline-flex;
}

.footer {
    display: grid;
    height: 80px;
    align-items: center;
    background: #000000;
    justify-content: space-around;
    color: #FFFFFF;
    grid-auto-flow: column;
}



