@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Montserrat:wght@400;700&family=Roboto&display=swap');

.container {
    width: 1480px;
    font-family: Roboto;
    padding: 20px 98px;
    display: inline-block;
    margin: 0px auto;
}

.header {
    width: 1283px;
    height: 189px;
}

.header-logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: left;
}

.header-navigation {
    width: 1283px;
    text-align: center;
    background-color: #35444F;
}

.header-nav-item {
    display: inline-block;
    padding: 26px 32px 19px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px
}

.header-navigation li:first-child {
    border-left: 1px solid #FFFFFF;
}

.header-nav-item:hover {
    background-color: #222F3A;
}

.aside {
    display: inline-block;
    height: 399px;
    width: 344px;
    border: 1px solid #495863;
    text-align: left;
    margin-top: 48px;
    vertical-align: top
}

.aside-menu {
    margin: 0px;
}

.aside-menu li {
    display: block;
}

.aside-menu-item {
    display: block;
    color: #495863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 25px;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
}

.frame-img {
    display: inline-block;
    border: 1px solid #495863;
    width: 880px;
    height: 529px;
    margin-top: 48px;
    transition: 1s transform ease-out;
}

.img {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}

.img:hover {
    transform: scale(1.2);

}

.content-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

.content {
    display: inline-block;
    width: 885px;
    margin-left: 52px;
}

.footer-nav-item {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #0C1927;
    padding-right: 5px;
}

.footer-nav-item:hover {
    color: cadetblue;
}

.footer {
    height: 69px;
    width: 1280px;
    border: 1px solid #000000;
    background: #63696E7A;
    padding: 0px 40px 0px;
    box-sizing: border-box;
}

.footer-nav {
    display: inline-block;
}

.footer-copyright {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0C1927;
    padding-left: 220px;
}




