html {
    font-family: "Arimo", sans-serif;
    color: #484848;
    text-transform: uppercase;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.body {
    background: #3A4965;
    padding: 2%;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 0px;
}

.table1,
.table2 {
    width: 100%;
    background: #fafafa;
}

.table1 {
    border-spacing: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.table1 td {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 31px;
    width: 14%;
}

.row1 {
    display: flex;
    align-items: center;
}

.table1 td:nth-child(1) {
    width: 17%;
}

.table1 td:nth-child(even) {
    background: #E3E3E3;
}

.row1-span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}

.table2 {
    border-spacing: 0;
    text-align: center;

}

.table2 td {
    width: 13%;
    height: 33%;
    vertical-align: middle;
    border-bottom: 1px solid #F2F2F2;
}

.table2 td:nth-child(even) {
    background: #E3E3E3;
}

.standard,
.ultimate,
.premium {
    width: 17%;
    height: 33%;
    padding: 24px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}

.standard {
    background: #89C331;
    border: #89C331 !important;
}

.ultimate {
    background: #F04A56;
    border: #F04A56 !important;
}

.premium {
    background: #20807C;
    border: #20807C !important;
}

.standard span:nth-child(1),
.ultimate span:nth-child(1),
.premium span:nth-child(1) {
    font-size: 24px;

}

.standard span:nth-child(2),
.ultimate span:nth-child(2),
.premium span:nth-child(2) {
    font-size: 36px;
    position: inherit;
    right: 50px;
}

.standard span:nth-child(3),
.ultimate span:nth-child(3),
.premium span:nth-child(3) {
    font-size: 18px;
    position: absolute;
    top: 43px;
    left: 66px;
}

.standard span:nth-child(4),
.ultimate span:nth-child(4),
.premium span:nth-child(4) {
    font-size: 14px;
    position: absolute;
    top: 56px;
    right: 18px;
}
a {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background: #414141;
    padding: 8px 19px 8px 21px;
    border-radius: 4px;
    margin-top: 14px;
    display: block;
    border-bottom: 6px solid #343434;
    color: #ffffff;
}


